<ion-view view-title="Contact">
    <ion-content>
        <div class="row">
            <div class="col col-25">電話</div>
            <div class="col col-75">
                <a href="tel:+85227172723">(852) 2717-2723</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-25">電郵</div>
            <div class="col col-75">
                <a href="mailto:info@tutor-republic.com?Subject=查詢：">info@tutor-republic.com</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-25">地址</div>
            <div class="col col-75">
                Unit 311-313, 3/F Enterprise Place,
                <br />
                No. 5 Science Park West Avenue,
                <br />
                Hong Kong Science Park, Shatin, N.T.
                <br />
            </div>
        </div>
        <map name="PotatoTechnologyLocation" center="Enterprise Place,No. 5 Science Park West Avenue,Hong Kong Science Park" zoom="18" map-type-control="false" street-view-control="false" data-tap-disabled="true">
            <marker position="Enterprise Place,No. 5 Science Park West Avenue,Hong Kong Science Park" title="Potato Technology" visible="true" on-click="openMap()"></marker>
        </map>
    </ion-content>
</ion-view>
