photo-upload {
    photo-upload-display {
        display: block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        margin: 0 auto;
    }

    photo-upload-capture {
    }

    photo-upload-album {
    }
}
