/// <reference path="../www/lib/ionic/scss/mixins" />
/// <reference path="../www/lib/ionic/scss/variables" />

$slidingTabsHeight: 48px;
$slidingTabsBorder: 1px;

.slider {
    height: 100%;

    sliding-tabs-selector {
        display: block;
        @include display-flex();
        z-index: 10;
        height: $slidingTabsHeight;
        margin-bottom: $slidingTabsBorder;
    }

    sliding-tabs-label {
        @include flex(1);
        padding-top: $slidingTabsHeight / 4;
        display: block;
        font-weight: 600;
        text-align: center;
        @include transition(all .1s ease-in-out);

        &.active {
            color: $energized;
            border-bottom: $slidingTabsBorder solid $energized;
        }
    }

    .slider-slides {
        overflow: hidden;
    }
}
