<ion-view view-title="Introduction">
    <ion-content scroll="false">
        <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs="">

            <ion-slide ion-slide-tab-label="Introduction">
                <ion-scroll style="height: 90%" class="padding">
                    <introduction-box data-icon-src="./img/service-packages/private.png"
                                      data-header="自由配對系列"
                                      data-content="提供一個自由配對平台，透過專業配對技術自動為導師和家長 / 學生互相推薦，不但大大節省找導師時間，為子女前途奠定重要一步，更讓導師節省大量行政費，輕鬆展開教學之旅！">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/service-packages/premium-private.png"
                                      data-header="專貴客戸服務"
                                      data-content="致力為家長 / 學生提供優質導師，透過專貴客戸服務我們可以為你提供更貼心的需要，例如：更貼心導師篩選、安排上課時間、安排導師面試。">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/service-packages/group.png"
                                      data-header="補習及興趣班系列"
                                      data-content="不但提供一對一教學配對，更提供補習/興趣班供導師選擇，讓導師一展所長。同時亦歡迎不同辨學團體例如中小學校，査詢服務詳請。">
                    </introduction-box>
                </ion-scroll>
            </ion-slide>

            <ion-slide ion-slide-tab-label="Student Platform">
                <ion-scroll style="height: 90%" class="padding">
                    <introduction-box data-icon-src="./img/student-platform-features/multi-aspects.png"
                                      data-header="提供多元化學習領域"
                                      data-sub-header="補習，是讓子女成績進步；興趣學習，是令子女有更多元化發展。"
                                      data-content="學生不單只為應付測驗 / 考試需要，更需要有一個多元化學習發展。Tutor-Republic 不但提供小學、初中和公開試專業補習導師配對，更將學習領域覆蓋到音樂、運動、舞蹈、藝術和語言，為學生提供全面導師配對服務，擴展視野。">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/student-platform-features/technology.png"
                                      data-header="結合首創導師配對技術"
                                      data-sub-header="推蔫導師，更快，更準確。"
                                      data-content="過住尋找適合導師經已困難，要去了解導師背景或者比較那位導師較好需要付出更多時間。Tutor-Republic 採用首創導師配對技術，根據你的指定要求，極速為你推薦合適導師；因應不同導師資歷作出專業分析比較，更加設家長評分機制，導師實力同口碑，自然一清二楚！">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/student-platform-features/tutor-team.png"
                                      data-header="建立我最喜愛導師團隊"
                                      data-sub-header="為學生提供最強後盾。"
                                      data-content="學生在考試周的風雨前夕突然沒有導師跟進可説是災難，Tutor-Republic 替你組織導師團隊，記録學生最喜愛導師，無論在仼何緊急關頭，都緊有導師作後盾，令學生安心應付考試！">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/student-platform-features/user-friendly.png"
                                      data-header="絕佳的用戶體驗"
                                      data-sub-header="以最流暢一面瀏覽資訊"
                                      data-content="過往用家使用手機瀏覽傳統式網站都會因螢幕少要放大縮少而感到眼花撩亂，Tutor-Republic 採用感應式平台設計，無論用桌上型電腦、平板或手提都能夠以最流暢一面輕鬆瀏覽資訊。">
                    </introduction-box>
                </ion-scroll>
            </ion-slide>

            <ion-slide ion-slide-tab-label="Tutor Platform">
                <ion-scroll style="height: 90%" class="padding">
                    <introduction-box data-icon-src="./img/tutor-platform-features/arrangement.png"
                                      data-header="結合首創教學配對安排"
                                      data-sub-header="讓導師即時掌握教學需求，加強與學生互動！"
                                      data-content="過往導師透過一般傳統補習網找工作都需要經中介人作介紹，在訊息轉遞上不但浪費不少時間，甚至有時會産生不必要誤會，白白錯失教學機會。Tutor-Republic 採用首創教學配對安排，因應導師教學喜好，即時推薦合適教學工作，導師可輕鬆等侍學生邀請 / 主動選出心儀工作並即時通知學生；為方便雙方了解課堂安排，並提供私人對話平台，加強互動！">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/tutor-platform-features/profile.png"
                                      data-header="自動推薦更合適教學；工作加強競爭力。"
                                      data-sub-header="推蔫導師，更快，更準確。"
                                      data-content=" 過往透過一般傳統補習網提交授課資料只是一次性，不能更新，因比往往會介紹很多不合適教學工作，非常煩擾。Tutor-Republic 讓你隨時更新授課資料，自動更新推薦教學工作。若由高中升上大學或 DSE 考取好成績，更可更新資歷，提升獲聘機會!">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/tutor-platform-features/credit.png"
                                      data-header="全新導師積分系統"
                                      data-sub-header="不但節省大量行政費，隨時獲得更多積分！"
                                      data-content="過往導師為找補習需付上昂貴的行政費，更可能因完成協議堂數後家長突然取消課堂而隨時變相白做，白白付上大量金錢及時間。Tutor-Republic 推出全新導師積分系統，透過扣減積分去換取工作機會，不但節省高達 90% 行政費，更可因學生反饋獲得更多積分！現在登記成為導師可免費獲贈 150 積分，立即展開教學之旅！">
                    </introduction-box>
                    <introduction-box data-icon-src="./img/tutor-platform-features/study-group-series.png"
                                      data-header="開放補習 / 興趣班系列"
                                      data-sub-header="為導師提供更多教學選擇。"
                                      data-content="一些興趣項目確實難以一對一方式作教學，例如舞蹈和戲劇。因為它們都需要學生之間的合作性，從而達至理想教學效果。Tutor-Republic 與全港不同教學團體合作，開辦不同補習 / 興趣班，不但為導師提供另類教學選擇，收入更比一對一教學可觀！">
                    </introduction-box>
                </ion-scroll>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>