<ion-view view-title="Contact">
    <ion-content>
        <div class="list card">
            <div class="item">
                <h2>成為用戶流程教學</h2>
                <p>2015-04-02 14:53:10</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="./img/articles/become-user.jpg" />
                <p>This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.</p>
                <p><i class="icon ion-bookmark"></i>&nbsp;用戶手冊</p>
            </div>
        </div>

        <div class="list card">
            <div class="item">
                <h2>建立導師履歷流程教學</h2>
                <p>2015-04-02 14:48:25</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="./img/articles/tutor-profile.jpg" />
                <p>This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.</p>
                <p><i class="icon ion-bookmark"></i>&nbsp;用戶手冊</p>
            </div>
        </div>

        <div class="list card">
            <div class="item">
                <h2>建立補習個案流程教學</h2>
                <p>2015-04-02 14:55:46</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="./img/articles/job-profile.jpg" />
                <p>This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.</p>
                <p><i class="icon ion-bookmark"></i>&nbsp;用戶手冊</p>
            </div>
        </div>

    </ion-content>
</ion-view>
