<ion-view title="Login">
    <ion-content class="padding">
        <form name="form" novalidate="">
            <div class="list list-inset">
                <!-- Email -->
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form.email.$invalid && form.email.$dirty}">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="user.email" ng-required="true">
                </label>
                <div class="errors-container" ng-show="form.email.$dirty && form.email.$invalid" ng-messages="form.email.$error">
                    <div class="error" ng-message="required">
                        <i class="icon ion-information-circled"></i>&nbsp;This field is required.
                    </div>
                    <div class="error" ng-message="email">
                        <i class="icon ion-information-circled"></i>&nbsp;Your input is not a valid email.
                    </div>
                </div>
                <!-- Password -->
                <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form.password.$invalid && form.password.$dirty}">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="user.password" ng-minlength="8" ng-maxlength="20" ng-required="true">
                </label>
                <div class="errors-container" ng-show="form.password.$dirty && form.password.$invalid" ng-messages="form.password.$error">
                    <div class="error" ng-message="required">
                        <i class="icon ion-information-circled"></i>&nbsp;This field is required.
                    </div>
                    <div class="error" ng-message="minlength">
                        <i class="icon ion-information-circled"></i>&nbsp;The minimun length of this field is 8 characters.
                    </div>
                    <div class="error" ng-message="maxlength">
                        <i class="icon ion-information-circled"></i>&nbsp;The maximun length of this field is 20 characters.
                    </div>
                </div>
            </div>
            <div>
                <button class="button button-block button-positive" ng-disabled="form.$invalid">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>